<div class="container-fluid">
  <!-- <div class="row justify-content-center bg-info text-white"> -->

  <app-main-top-bar></app-main-top-bar>

  <!-- </div> -->

  <!-- <app-candidate-data></app-candidate-data> -->
  <div class="row mt-1">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer bg-dark text-white">
    <div class="row justify-content-around">
      <div class="col-sm-12 col-md-9">
        Created by Marcin Knapik. All rights Reserved &reg;
      </div>
      <div class="col-sm-12 col-md-2">
        <a class="btn bt-primary" href="https://github.com/Marcin90K">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>

</div>
