<div class="container-fluid">
  <div class="row justify-content-center bg-info text-white">
    <div class="page-header">
      <h1>Recruiting Form</h1>
    </div>
  </div>

  <app-candidate-data></app-candidate-data>

  <div class="footer bg-dark text-white">
    <div class="row justify-content-around">
      <div class="col-sm-12 col-md-9">
        Created by Marcin Knapik. All rights Reserved &reg;
      </div>
      <div class="col-sm-12 col-md-2">
        <a class="btn bt-primary" href="https://github.com/Marcin90K">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>

</div>
