.navbar-column {
  line-height: 200%;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #24305E;
  color: #A8D0E6;
  box-shadow: 0 4px 5px #A8D0E6;
}

.navbar-brand {
  color: #fff;
}

.nav-button {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  /* border-right: 1px solid #fff; */
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.nav-button:last-of-type {
  border-right: none;
}

a.navbar-link {
  text-decoration: none;
  /* color: #A8D0E6; */
  color: #fff;
}

a.navbar-link:hover {
  color: #F8E9A1;
}
