<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-md text-dark navbar-light navbar-container">
      <div class="col-md-4">
        <div class="row justify-content-center">
          <div class="navbar-brand">
            <h2>E-Recruiter</h2>
          </div>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="col-md-7 navbar-column">
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav">
            <li class="navbar-item nav-button">
              <a class="navbar-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="navbar-item nav-button">
              <a class="navbar-link" [routerLink]="['/recruitment-panel']">Recruitment</a>
            </li>
            <!-- <li class="navbar-item nav-button">
              <a class="navbar-link" href="#">Offers</a>
            </li> -->
            <li class="navbar-item nav-button">
              <a class="navbar-link" [routerLink]="['/auth/login']">Log in</a>
            </li>
            <!-- <li class="navbar-item nav-button">
              <a class="navbar-link" [routerLink]="['/candidate/intro']">Candidate Temp</a>
            </li> -->
            <li class="navbar-item nav-button">
              <a class="navbar-link" [routerLink]="['/job-offers/form']">Job Offer Create</a>
            </li>
            <li class="navbar-item nav-button">
              <a class="navbar-link" [routerLink]="['/job-offers/edit']">Job Offer Edit</a>
            </li>
            <li class="navbar-item nav-button">
              <a class="navbar-link" [routerLink]="['/admin-panel']">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
