<p class="element-title text-center">{{ title }}</p>

<div class="container joboffers-container">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">

      <div *ngFor="let offer of jobOffersListVM.jobOffers">
        <div class="joboffer-link-wrapper">
          <div class="row">
            <div class="col-10">
              <p class="joboffer-title"> {{ offer.jobPosition.name }}</p>
            </div>
            <div class="col-2">
              <div class="button button-normal" (click)="apply(offer)" >Open</div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="joboffer-link-wrapper">
        <div class="row">
          <div class="col-10">
            <p class="joboffer-title">This a Job offer Test title example</p>
          </div>
          <div class="col-2">
            <div class="button button-normal" [routerLink]="['../job-offers/view']">Open</div>
          </div>
        </div>
      </div> -->

    </div>

    <div class="col-md-2"></div>
  </div>

</div>
