<h3>Your data:</h3>
<ng-container *ngFor="let item of objectKeys(candidateProfile.jobPosition)">
  <div class="row">
    <div class="col-md-6">
      <div class="data-label">{{item}}</div>
    </div>
    <div class="col-md-6">
      <div class="data-content">{{candidateProfile.jobPosition[item]}}</div>
    </div>
  </div>
</ng-container>

<ng-container *ngFor="let item of objectKeys(candidateProfile.basicInfo)">
  <ng-container *ngIf="item === 'address' else noAddress">
    <ng-container *ngFor="let addr of objectKeys(candidateProfile.basicInfo.address)">
      <div class="row">
        <div class="col-md-6">
            <div class="data-label">{{addr}}</div>
        </div>
        <div class="col-md-6">
            <div class="data-content">{{candidateProfile.basicInfo.address[addr]}}</div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noAddress>
    <div class="row">
      <div class="col-md-6">
          <div class="data-label">{{item}}</div>
      </div>
      <div class="col-md-6">
          <div class="data-content">{{candidateProfile.basicInfo[item]}}</div>
      </div>
    </div>
  </ng-template>
</ng-container>


<h3>Your education path:</h3>
<ng-container *ngFor="let education of objectValues(candidateProfile.educationInfo.educationItems)">
  <ng-container *ngFor="let item of objectKeys(education)">
    <div class="row">
    <div class="col-md-6">
      <div class="data-label">{{item}}</div>
    </div>
    <div class="col-md-6">
      <div class="data-content">{{education[item]}}</div>
    </div>
    </div>
  </ng-container>
  <br/>
</ng-container>



<h3>Your proffessional experience:</h3>
<ng-container *ngFor="let experience of objectValues(candidateProfile.candidateExperience.experienceItems)">
  <ng-container *ngFor="let item of objectKeys(experience)">
    <div class="row">
      <div class="col-md-6">
        <div class="data-label">{{item}}</div>
      </div>
      <div class="col-md-6">
        <div class="data-content">{{experience[item]}}</div>
      </div>
    </div>
  </ng-container>
  <br/>
</ng-container>


<div class="row">
  <div class="col-12">
    <p class="element-title">Additional notes</p>
    <textarea class="form-control" [(ngModel)]="additionalNotes"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input type="checkbox" [(ngModel)]="isAgreementChecked"/>
    <p class="d-inline-block">Terms of privacy</p>
  </div>
  <div class="col-12">
    {{ termsOfPrivacyText }}
  </div>
</div>

<div class="row">
  <button class="btn btn-info submit-button my-4" (click)="submit()" >Submit</button>
</div>
